<div xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     id="${w.attrs['id']}:wrapper">
<div py:attrs="w.attrs">
   <py:for each="btn in w.items">
      <py:choose test="w.checked_item">
      <py:when test="btn['id']">
          <input type="radio" id="${btn['id']}" name="radio" checked="checked"/>
            <label for="${btn['id']}">${btn['label']}</label>
      </py:when>
      <py:otherwise>
          <input type="radio" id="${btn['id']}" name="radio"/>
            <label for="${btn['id']}">${btn['label']}</label>
      </py:otherwise>
      </py:choose>
   </py:for>
</div>
<xi:include href="generic_jq_ui_js.html" />
</div>
