<div xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     id="${w.attrs['id']}:wrapper">
<div py:attrs="w.attrs">
   <py:for each="btn in w.items">
      <py:choose test="btn['isSelected']">
      <py:when test="True">
      <input type="checkbox" id="${btn['id']}" checked="checked" />
      </py:when>
      <py:otherwise>
      <input type="checkbox" id="${btn['id']}" />
      </py:otherwise>
      </py:choose>
      <label for="${btn['id']}">${btn['label']}</label>
   </py:for>
</div>
<script type="text/javascript">
   $(function() {
      $("#${w.selector}").${w.jqmethod}(${w.options});

      <py:if test="'click' in w.events">
         $("#${w.selector} input").click(${w.events['click']});
      </py:if>
   });
</script>
</div>
